:root {
  --taupe: #938b96;
  --blizz: #7ddee1;
  --jet: #161413;
  --seashell: #fef5ef;
  --sage: #cad0b3;
  --wine: #39191f;
  --dark-wine: #1d0c10;
}

body {
  background-color: #39191f;
  font-family: "Cormorant SC", serif;
}

* {
    font-family: "Cormorant SC", serif;
}

h1 {
  color: var(--seashell);
  font-family: "Cormorant SC", serif;
}

h2 {
    color: var(--seashell);
}

h3 {
    font-family: "Cormorant SC", serif;
    color: var(--wine);
}

h4 {
    color: var(--taupe);
    font-family: "Cormorant SC", serif;
}

#dice-roll {
    text-align: center;
}

i {
    color: var(--taupe);
}

i:hover {
    color: var(--blizz);
    transition: all .3s ease-in-out;
    transform: translateY(-3px);
    /* x y */
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

i:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.jumbotron {
  padding: 50px 0;
  text-align: center;
  background-color: var(--dark-wine);
  color: var(--taupe);
  border-bottom: 2px solid var(--jet);
  align-content: center;
}

main {
    text-align: center;
    padding-bottom: 100px;
    margin: 0;
    color: #161413;
  }

#generate {
    font-size: 50px;
}

.action-buttons:hover, .char-save-select-button:hover {
    color: var(--blizz);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#actions {
    padding-top: 20px;
}

#actions button {
    font-size: 26px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fef5ef;
}

a:hover {
    text-decoration: none;
    color: var(--blizz);
}

.uk-card {
    text-align: left;
    background-color: var(--seashell);
    color: var(--jet);
}

.uk-card:hover {
    background-color: #fef5ef;
}

#sub-cards {
    padding: 50px 30px;
    color: var(--jet);
}

#char-save-select {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border: 2px solid var(--jet);
    text-align: center;
    background-color: var(--dark-wine);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#h4-modal {
    color: var(--seashell);
    margin-top: 10px;
}

.char-save-select-button {
    color: var(--taupe);
    border: none;
    padding: 10px 10px 0 10px;
    font-family: "Segoe UI";
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    padding: 50px;
    background-color: #110407;
    text-align: center;
    color: var(--taupe);
}

.hide {
    display: none;
}

#load-character {
    display: none;
    color: var(--taupe);
    padding-top: 20px;
}

#character-container {
    padding: 50px;
}

/* media queries */
@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

/* change layout for mobile */
@media screen and (max-width: 575px) {
    #sub-cards {
        display: block;
    }

    #sub-cards div {
        width: 100%;
        margin-bottom: 10px;
    }
}